<div class="alert alert-danger col-3 position-absolute mt-5 hide" id="loginFailMsg" role="alert">
    <h4 class="alert-heading">O nie, cos poszlo nie tak!</h4>
    <p>Nasi specjaliści już nad tym pracują.</p>
    <hr>
    <p class="mb-0">Wróc do nas za chwilę <i class="fas fa-smile-beam"></i></p>
</div>