<h2 class="font-weight-light ml-1 ">Ustawienia</h2>

<div class="container p-0 col-lg-12 col-md-10 h-100">
    <div class="justify-content-center col-12 align-items-center">
        <div class="row">
            <form id="registrationForm">
                <div class="form-group m-2">
                    <label>Imie</label>
                    <input type="text" name="name" id="name" class="form-control" required />
                    <span class="text-danger " id="nameErrorMsg"></span>
                </div>
                <div class="form-group m-2">
                    <label>Nazwisko</label>
                    <input type="text" name="surname" id="surname" class="form-control" required />
                    <span class="text-danger " id="surnameErrorMsg"></span>
                </div>
                <div class="form-group m-2">
                    <label>Email</label>
                    <input type="email" name="email" id="email" class="form-control " required />
                    <span class="text-danger " id="emailErrorMsg"></span>
                </div>

                <div class="form-group m-2">
                    <label>Haslo</label>
                    <input type="password" name="password" id="password" class="form-control" required />
                    <span class="text-danger " id="passwordErrorMsg"></span>
                </div>
            </form>
        </div>
    </div>
</div>