@using Microsoft.AspNetCore.Http


<div class="d-flex m-5 align-items-center  justify-content-center">
    <div class="col-9 ">
        <div class="col-3 border-right float-left">
            <div class="col-12  m-3 hello">
                <span class="text-secondary">Witaj</span><br />
                <h5>
                    @Context.Session.GetString("Name")
                    <span class="btn btn-sm btn-outline-danger font-weight-bold">Admin</span>
                </h5>
                <a href="@Url.ActionLink("LogOut", "UserApi")"><span class="btn btn-sm btn-primary font-weight-bold">Wyloguj</span></a>
            </div>
            <div class="col-12 m-2 categories">
                <span class="d-block p-2 rounded order">
                    <i class="fas fa-boxes"></i>
                    <span id="callLoadUsersTable">Użytkownicy i Zamówienia</span>
                </span>
                <span class="d-block p-2 settings">
                    <i class="fa-solid fa-warehouse"></i>     
                    <span id="callDisplayProducts">Produkty</span>
                </span>
            </div>
        </div>
        <div class="col-9 p-4 float-left" id="content-container"></div>
    </div>
</div>
<script src="~/js/User/Admin.js"></script>
<script src="~/js/User/User.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#callLoadUsersTable").on("click", LoadUsersTable);
        $("#callDisplayProducts").on("click", LoadProductsManagmentTable);
    });
</script>
<style>
    .categories span:hover {
        background-color: #f8f9fa;
        cursor: pointer;
    }

    svg {
        width: 25px;
        height: 25px;
    }

    .bg-secondary-light {
        background-color: #f2f2f2;
    }
</style>